.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    & h3 {
        font-size: 20px;
        font-weight: 400;
        margin: 10px 0;
    }

    & input {
        font-size: 17px;
        padding: 10px;
        margin-bottom: 10px;
    }
}
